@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color: tomato;
    --secondary-color: hsl(0, 0%, 12%);
    --accent-color: #f4f4f4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: var(--accent-color);
}


.warning{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, .6);
    backdrop-filter: blur(5px);
}

.warning span{
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 20px;
    height: 150px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border: 1px solid #333;
}

.warning .close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.warning span img{
    width: 50px;
    height: 50px;
}

<<<<<<< HEAD
.warning{
    display: none;
}

.container{
    width: 500px;
    height: 100%;
    background-color: var(--accent-color);
    position: relative;
    overflow: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 70px;
    width: 100%;
    background-color: var(--secondary-color);
}

.brand-logo img{
    width: 50px;
    height: 50px;
}

.brand-name{
    font-size: 25px;
    color: white;
}

.hamburger{
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.hamburger-close{
    font-size: 35px;
    color: white;
    display: none;
    cursor: pointer;
}

.nav{
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    height: calc(100vh - 70px);
    width: 500px;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all .5s;
    padding-bottom: 70px;
}

.nav ul li{
    color: var(--accent-color);
    list-style-type: none;
    border-bottom: 1px solid var(--accent-color);
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.nav ul li:last-child{
    border-bottom: none;
    font-size: 15px;   
}

.bottom-nav{
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color: var(--secondary-color);
}

.bottom-nav i{
    font-size: 20px;
}

.bottom-nav p{
    font-size: 10px;
    margin-top: 3px;
}

.search{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -60px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    /* background-color: pink; */
    width: 100%;
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

main span{
    width: 95%;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

main .banner img{
    height: 350px;
    width: 400px;
    border-radius: 10px;
}

main p{
    font-size: 20px;
    text-align: center;
}

main .steps-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 50px;
    padding: 0px;
}

main .steps-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

main .steps-text p{
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1px 10px;
    color: var(--accent-color);
    font-size: 10px;
}

.logout{
    background-color: var(--secondary-color);
    color: var(--accent-color);
    justify-content: center;
=======
.container{
    display: none;
>>>>>>> d7424e7dd4ce7aef6df7beb19b16e43c1e89c868
}

@media only screen and (max-width: 746px){

    .warning{
        display: none;
    }
    
    .container{
        width: 100%;
        height: 100%;
        background-color: var(--accent-color);
        position: relative;
        display: block;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        height: 70px;
        width: 100%;
        background-color: var(--secondary-color);
    }

    .brand-logo img{
        width: 50px;
        height: 50px;
    }

    .brand-name{
        font-size: 25px;
        color: white;
    }

    .hamburger{
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    .hamburger-close{
        font-size: 35px;
        color: white;
        display: none;
        cursor: pointer;
    }

    .nav{
        display: flex;
        position: fixed;
        top: 70px;
        left: 0;
        height: calc(100vh - 70px);
        width: 100vw;
        background-color: var(--secondary-color);
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: all .5s;
        padding-bottom: 70px;
    }

    .nav ul li{
        color: var(--accent-color);
        list-style-type: none;
        border-bottom: 1px solid var(--accent-color);
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .nav ul li:last-child{
        border-bottom: none;
        font-size: 15px;   
    }

    .bottom-nav{
        position: absolute;
        bottom: 0;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 70px;
        background-color: var(--secondary-color);
    }

    .bottom-nav i{
        font-size: 20px;
    }

    .bottom-nav p{
        font-size: 10px;
        margin-top: 3px;
    }

    .search{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-top: -60px;
        background-color: var(--accent-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circle{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main{
        /* background-color: pink; */
        width: 100%;
        height: 100vh;
        padding-top: 10px;
        padding-bottom: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: scroll;
    }

    main span{
        width: 95%;
        background-color: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    main .banner img{
        height: 350px;
        width: 400px;
        border-radius: 10px;
    }

    main p{
        font-size: 20px;
        text-align: center;
    }

    main .steps-icon{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 50px;
        padding: 0px;
    }

    main .steps-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
    }

    main .steps-text p{
        background-color: var(--secondary-color);
        border-radius: 10px;
        padding: 1px 10px;
        color: var(--accent-color);
        font-size: 10px;
    }

    .logout{
        background-color: var(--secondary-color);
        color: var(--accent-color);
        justify-content: center;
    }
}
